@import url("https://use.typekit.net/jxl3fbu.css");

*{
font-family: muli,sans-serif;
font-weight: 700;
font-style: italic;
color: white;
text-shadow: 2px 2px 4px #000000;
justify-content: center;
}
h1{
font-family: muli,sans-serif;
font-weight: 700;
font-style:normal;
font-size: large;
// text-align: center;
}
h2{
  text-align: center;
}
main{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
}
app-square{
  border: 1px gray solid;
  height: 150px;
}
